	<div class="toph1">
	  	<div class="container">
			<div class="logo pleft">
				<a><img src="/assets/logo.png" alt="Home"></a>
			</div>
			<div class="pright" style="margin: 10px 120px auto auto;">
        		<ul class="nav navbar-nav navT">
					<% if user_signed_in? %>
	    				<li class="dropdown"><a href='#' data-toggle="dropdown"> Hi, <%= current_user.alias_name %> <%= image_tag current_user.avatar.url, size: '20x20' %></a>
					        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					        	<li><%= link_to "Refer Buddy", buddy_referrals_path %></li>
					        	<li><%= link_to "Registered Children", registered_children_path %></li>
					        	<li><%= link_to "Update Profile", update_profile_path %></li>
					        	<li><%= link_to "Change Password", change_password_path %></li>
					        	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					        </ul>
				        </li>
	        		<% else %>
	        			<li><a href='/users/sign_in'>Sign In </a></li>
	    				<li class="active"><a href="/users/sign_up">Free Enrollment </a></li>
	        		<% end %>
			    </ul>
			</div>
		</div>
	</div>
	<div class="navbar thmcolor" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navM">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/about">About MULCH</a></li>
	        <li><a href="/why">Why MULCH</a></li>
	        <li><a href="/how">How It Works</a></li>
	        <%= "<li class='active'><a href='/pledge-now'>Pledge Now</a></li>".html_safe if user_signed_in? %>
	        <li><a href="/member-associate">Become a Member/Associate</a></li>	        
	      </ul>
	    </div><!-- /.nav-collapse -->
	  </div><!-- /.container -->
	</div><!-- /.navbar -->