<%= content_tag( "div", class: "container", style: 'height: 650px;' ) do %>
	<%= content_tag( "div", class: "mg10 pd30" ) do %>
		<h2><%= @flash[:message] %></h2>
		<% if @flash[:status] == :success %>
			<table class="table">
				<tbody>
		  			<tr valign="center">
						<td valign="center"><%= image_tag @child.avatar.url, size: "80x80", class: "img-thumbnail" %></td>
						<td valign="center">
							<address>
								<strong><%= @child.full_name %></strong><br>
							  	<%= @child.email %><br>
							  	<%= @child.ref_id %><br>
							</address></td>
						<td></td>
					</tr>
					<tr valign="center">
						<td valign="center">Payer Details</td>
						<td valign="center"><label><%= @payer.full_name %></label>
						<td></td>
					</tr>
					<tr valign="center">
						<td valign="center">Frequency</td>
						<td valign="center"><label id='l_freq'><%= @contribution["freq"].try(:titlecase) %></label>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Total Coffee Contribution</td>
						<td valign="center">$<%= @contribution["contribution"] %>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Transaction Fee</td>
						<td valign="center">$<%= @contribution["transaction_fee"] %>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Service Fee</td>
						<td valign="center">$<%= @contribution["service_fee"] %>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Total Amount</td>
						<td valign="center"><label>$<%= @contribution["total_contributions"] %></label>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Name</td>
						<td valign="center"><label><%= "#{@payer.first_nm.try(:titlecase)} #{@payer.last_nm.try(:titlecase)}" %></label>
						<td></td>
					</tr>

					<tr valign="center">
						<td valign="center">Email</td>
						<td valign="center"><label><%= "#{@payer.email}" %></label>
						<td></td>
					</tr>
		  	</table>
	  	<% end %>
	<% end %>
<% end %>
