<section class="container pd50">
    <div class="login">
      <h1>Login to Mulch</h1>
		<%= render partial: '/shared/flash', collection: [:notice, :alert, :success, :error], as: :level %>
      	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p>
        	<%= f.email_field :email, autofocus: true, class: "lgn", required: true, placeholder: "Email *" %>
        </p>
        <p>
        	<%= f.password_field :password, autocomplete: "off", class: "lgn", required: true, placeholder: "Password *" %>
        </p>
        <p>Don't have account?  <%= link_to "Create new", new_registration_path(resource_name) %></p>
        <p class="submit"><%= f.submit "Sign In", id: 'submt', class: 'lgn' %></p>
      <% end %>

<%= link_to image_tag('facebook.png'), user_omniauth_authorize_path(:facebook) %>  
<%= link_to image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2) %>   

</div>



    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="login-help">
        <p>Forgot your password?  <%= link_to "Click here to reset it", new_password_path(resource_name) %>
      		 </p>
    	</div>
	<% end -%>
</section>