<div class="cart">
  <div class="c1 col-xs-12">
    <div class="hd1" style="width: 100%; border-radius: 3px;">
      <i class='fa fa-bars'></i> Coffee Contribution
    </div>
  </div>
  <ul>
    <% @cups.each do |cup| %>
      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="<%= cup.image %>">
        </span>
        $1.49
        <span class="cart-item-desc"><%= cup.name %></span>
        <span class="cart-item-price"><input type="text" placeholder="howmany..." class="txtOnlyNumber howmanyCups" name="howmanyCups[]"></span>
      </li>
    <% end %>
  </ul>
  <div class="cart-bottom">
    Total: <input type="text" id="total_contributions" name='total_contributions' placeholder="Total" class="txtOnlyNumber">
    <a href="#" class="cart-button">Continue</a>
  </div>
</div>