<div class="container" style="margin-bottom: 20px;">
      <div class="mg10 pd30">
      
      <%= render partial: '/shared/flash_messages', collection: [:notice, :alert, :success, :error], as: :level %>
      
      <%= form_for @feedback, :url => feedback_path, method: :post do |f| %>
            <div class="c1 col-xs-12">
            	<div class="hd1">
            	    <i class='fa fa-bars'></i> Feedback
            	</div>
            	<div class="content">
                        <%= content_tag( "div", class: "form-group" ) do %>
                        	<%= f.label "Subject", class: "col-sm-2 control-label", for: 'feedback_subject' %>
                        	<%= content_tag( "div", class: "col-sm-10" ) do %>
            			   <%= f.text_field :subject, class: "form-control", autofocus: true, placeholder: 'Subject' %>
                  		<% end %>
                        <% end %>
            	      <%= content_tag( "div", class: "form-group" ) do %>
                        	<%= f.label "Email *", class: "col-sm-2 control-label", for: 'feedback_email' %>
                        	<%= content_tag( "div", class: "col-sm-10" ) do %>
            			   <%= f.email_field :email, class: "form-control", autocomplete: "off", placeholder: 'Email *', required: true %>
                  		<% end %>
                        <% end %>
                        <%= content_tag( "div", class: "form-group" ) do %>
                        	<%= f.label "Phone", class: "col-sm-2 control-label", for: 'feedback_phone' %>
                        	<%= content_tag( "div", class: "col-sm-10" ) do %>
            			   <%= f.text_field :phone, class: "form-control", autocomplete: "off", placeholder: 'Phone' %>
                  		<% end %>
                        <% end %>
                        <%= content_tag( "div", class: "form-group" ) do %>
                              <%= f.label "Message *", class: "col-sm-2 control-label", for: 'feedback_message' %>
                              <%= content_tag( "div", class: "col-sm-10" ) do %>
                                 <%= f.text_area :message, class: "form-control", placeholder: 'Type your message here...', required: true %>
                              <% end %>
                        <% end %>
                  </div>
            </div>
            <%= content_tag( "div", class: "form-group") do %>
                  <%= content_tag( "div", class: "col-sm-8" ) do %>
                        <%= f.submit "Send", class: 'col-sm-5 btn btn-primary pull-right' %>
                  <% end %>
            <% end %>
      <% end %>
      </div>
</div>